#edit-btn {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 5%;
    background-color: black;
    border: none;
    cursor: pointer;

}

#mode_edition,
#mode_edition2 {
    position: relative;
    top: 15%;
    right: 50%;
    transform: translateX(50%);
    width: 50%;
    height: 20%;
    border-radius: 10px;
   

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.gallery_edt_header h1{
    color: black;
    text-align: center;
    margin-top: 20px;
    font-style: none;
    font-family: 'work sans';
    font-weight: 400;
}

.gallery_edt content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    max-height: fit-content;
    overflow-y: auto;
}
/* formulaire */
#photo_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.gallery_edt_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-top: 1px solid #ccc;
    
} 

.gallery_edt_footer button {
    display: block;
    margin: 20px auto;
    padding: 10px 60px;
    background-color: #1D6154;
    color: white;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    bottom: 10px;

}

.btn_close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer; 
}

#btn-back {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;


}